<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:faithfulword.app</string>
		<string>applinks:192.168.0.10:4000</string>
		<string>applinks:192.168.2.22:4000</string>
		<string>applinks:japheth.ca</string>
	</array>
</dict>
</plist>
