<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022591972650-picpmsqa9vfh0hhttjmdh9g4cfr9ti43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022591972650-picpmsqa9vfh0hhttjmdh9g4cfr9ti43</string>
	<key>API_KEY</key>
	<string>AIzaSyCPHmM_BxjqW21INtGAM-vJYH2Vp8WM_30</string>
	<key>GCM_SENDER_ID</key>
	<string>1022591972650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fwsaved</string>
	<key>PROJECT_ID</key>
	<string>faithfulwordapp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>faithfulwordapp-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022591972650:ios:ed10b6230c67f028</string>
	<key>DATABASE_URL</key>
	<string>https://faithfulwordapp-dev.firebaseio.com</string>
</dict>
</plist>